body{
    background-image: url("../img/Castle_Background.jpg");
    height: 97vh;
    display: flex;
    flex-direction: column;
}

header h1{
    display: flex;
    justify-content: center;
    font-size: 8rem;
    color: white;
    margin-top: 3rem;
}

main{
    display: flex; 
    justify-content: center;
    align-items: center;  
    margin-top: 5%;
}

main form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    padding: 5rem 5rem;
    width: 50%;
    border-radius: 2.5rem;
    opacity: 85%;
}

main form div div{
    display: flex;
}

main form div div .errorLabel{
    font-size: 1.5rem;
    color: red;
    display: none;
    margin: 0rem;
}

main form label{
    display: inline-block;
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

main form input[type=text], main form input[type=password]{
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
    font-size: 2rem;
}

main form .buttons{
    display: flex;
    border-radius: 0.5rem;
}

main form .buttons button{
    font-size: 2rem;
    padding: 1rem 1rem;
}

main form .buttons button:hover{
    cursor: pointer;
    background-color: black;
    color: #fff;
}

footer{
    margin-top: auto;
}

footer p, footer p a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

