
#word{
    color: brown;
}
main #bar {
    width: 10%;
    height: 30px;
    background-color: #eb0303ad;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
    border-color: black;
}

main #progressBar {
    width: 100%;
    background-color: grey;
}  

