body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main{
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}

main .playerStatistics{
    border: solid 1px black;
}

footer{
    justify-self: end;
    align-self: baseline;
    height: auto;
}