header h1
{
    display: flex;
    justify-content: center;
    font-size: 5rem;
}
main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main input[type=text], main input[type=password]
{
    margin-bottom: 1.5rem;
    width: 15rem;
}
main .buttons
{
    width: 25%;
    display: flex;
    justify-content: space-around;
}
