main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .credits{
    margin-top: 5%;
}

main .credits h2{
    margin-bottom: 2rem;
}

main .credits div{
    margin-bottom: 2rem;
}

main .credits div h3{
    margin-bottom: 1.5rem;
}

main .credits div~div p{
    text-decoration:line-through;
}

@media only screen and (max-width: 768px){
    main .credits{
        margin-top: 25%;
        border: solid 1px black;
        border-radius: 0.5rem;
        padding: 5rem 4rem;

    }
}