main .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main section{
    display: flex;
    flex-direction: column;
}

main section.centerContent{
    margin-left: auto;
    margin-right: auto;
}

main .banner{
    background-image: url(../img/squares-pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
    margin-bottom: 5rem;
}

main .banner h2{
    font-size: 5rem;
    font-weight: 700;
    margin-left: 1rem;
    color: black;
}

main section.centerContent{
    width: 65%;
}

main section.centerContent .gameIntroduction{
    margin-bottom: 5rem;
}

main section.centerContent .gameIntroduction h3{
    margin-bottom: 1.5rem;
}


main section.centerContent .gameIntroduction p{
    width: 75%;
    margin-bottom: 1rem;
}

main section.centerContent .personalStatistics{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main section.centerContent .personalStatistics form h3{
    margin-bottom: 1.25rem;
}

main section.centerContent .personalStatistics form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

main section.centerContent .personalStatistics form div label{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

main section.centerContent .personalStatistics form div input{
    font-size: 1.5rem;
    padding: 0.5rem 0rem;
    width: 75%;
    font-weight: 300;
}

main section.centerContent .personalStatistics form div div{
    display: none;
    color: red;
}


main section.centerContent .personalStatistics button{
    display:inline-block;
    font-size: 2rem;
    text-decoration: none;
    border: solid 1.5px black;
    padding: 0.5rem 1rem;
    color: black;
    border-radius: 0.5rem;
}

main section.centerContent .personalStatistics button:hover{
    background-color: black;
    color: #fff;
    border-color: black;
    cursor: pointer;
}

main section.centerContent .personalStatistics table{
    display: none;
    margin-left: 2rem;
}

main section.centerContent .personalStatistics table tr,   main section.centerContent .personalStatistics table td{
    border: solid 1px black;
}

main section.centerContent .personalStatistics table caption{
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

main section.centerContent .personalStatistics table th{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
}

main section.centerContent .personalStatistics table td{
    text-align: right;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

main section.sideContent{
    margin-right: 5rem;
    align-self: center;
    display: flex;
    align-items: center;
}

main section.sideContent h2{
    font-size: 2.75rem;
    width: auto;
    text-align: center;
    margin-bottom: 1.5rem;
}

main section.sideContent .scoreboard{
    border: solid 1px black;
    border-radius: 0.2rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 5rem;
}

main section.sideContent .scoreboard .top5{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

main section.sideContent .scoreboard .top5 h3{
    width: auto;
    font-weight: 500;
}

main section.sideContent .scoreboard .top5 p{
    font-size: 2rem;
}


@media only screen and (max-width: 768px){
    main .content{
        flex-direction: column;
    }

    main section.centerContent{
        margin-bottom: 5rem;
        align-items: center;
        width: 100%;
    }

    main .banner h2{
        margin-left: 1rem;
        color: white;
    }

    main section.centerContent .gameIntroduction{
        width: 75%;
    }

    main section.centerContent .gameIntroduction p{
        width: 85%;
    }

    main section.centerContent .personalStatistics{
        flex-direction: column;
        align-items: center;
    }

    main section.centerContent .personalStatistics form{
        margin-bottom: 2rem;
    }

    main section.sideContent{
        align-items: center;
        margin-right: 0rem;
        margin-bottom: 2rem;
    }

    main section.sideContent h2{
        font-size: 2.5rem;
    }

    main section.sideContent .scoreboard{
        padding: 2rem 4rem;
    }

    main section.sideContent .scoreboard h3{
        font-size: 2rem;
    }
}